<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Issue an invoice</title>
</head>
<body>
    <header>
        <h1>Select a recepient</h1>
        
    </header>
    <nav>
        <a href="/add">Create a recpient</a>
        <a href="/list">List of issued Invoices</a>
        <a href="/logout">Logout</a>
    </nav>
    <main>
        <h2>List of partners:</h2>
       {{> list}}
    </main>
    <footer>
        <p>Created by Stoyan Todorov ®{{date}}</p>
    </footer>
</body>
</html>