<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles.css">
    <title>Issue an invoice</title>
</head>
<body>
    <header>
        <h1>Select a recepient</h1>
        
    </header>
    <nav>
        <a href="/add">Create a recpient</a>
        <a href="/list">List of issued Invoices</a>
        <a href="/logout">Logout</a>
    </nav>
    <main>
        <h2>List of partners:</h2>
       {{> list}}
    </main>
    <script type="text/javascript" >
        var divs = document.getElementsByTagName('div');
        var inputs = document.getElementsByTagName('input');
        setTimeout(selectLinks(),4000);
        function selectLinks(){
            for(i=0;i<divs.length;i++){
                let uic = inputs[i].value
                let a = divs[i].lastElementChild.getAttribute('href');
                let query = `${a}?uic=${uic}`;
                divs[i].lastElementChild.setAttribute('href',query);
                console.log(query);
            }
        }
    </script>
    <footer>
        <p>Created by Stoyan Todorov ®{{date}}</p>
    </footer>
</body>
</html>