<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Invoicer - Register Profile</title>
    <link rel="stylesheet" type="text/css" href="/assets/register-styles.css">
  </head>
  <body>
    <div class="nav">
      <a href="/">Back</a>
      <a href="/company">Add Company +</a>
    </div>
    <div class="container">
      <form class="userReg" action="/register" method="post">
        <label for="username">Username</label>
        <input id="username" width="100%" type="text" name="username" placeholder="Username">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password">
        <label for="password2">Repeat Password</label>
        <input id="password2" type="password" name="password2" placeholder="Must match password">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" placeholder="email@example.com">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" placeholder="John">
        <label for="sirName">Sir Name</label>
        <input id="sirName" type="text" name="sirName" placeholder="Doe">
        <label for="mobile">Mobile number (+country code)</label>
        <input id="mobile" type="text" name="mobile" placeholder="+359 888 123456">
        <input type="submit" name="submit" value="Register">
      </form>
    </div>
  </body>
</html>
